<div class="container">
  <div class="mt-4">
    <h1>Hi <%= current_user.name %>!</h1>
    <h2>Your Groups</h2>
  </div>

  <% if @groups.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @groups.each do |group| %>
          <tr>
            <td><%= group.name %></td>
            <td>
              <%= link_to 'View', group_path(group), class: "btn btn-info btn-sm" %>
              <% if current_user.id == group.owner_id %>
                <%= link_to 'Edit', edit_group_path(group), class: "btn btn-warning btn-sm" %>
                <%= link_to 'Delete', group_path(group), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No groups found. Create one now!</p>
  <% end %>
  <div class="mb-3">
    <%= link_to 'Create New Group', new_group_path, class: "btn btn-primary" %>
  </div>

  <div class="mt-3">
    <h2>Pending Invitations</h2>

    <% if @invitations.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Group</th>
            <th>Invited By</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @invitations.each do |invitation| %>
            <tr>
              <td><%= invitation.group.name %></td>
              <td><%= invitation.invited_by.name %></td>
              <td>
                <%= button_to 'Accept', accept_invitation_path(invitation), method: :patch, class: "btn btn-success btn-sm" %>
                <%= button_to 'Decline', decline_invitation_path(invitation), method: :patch, class: "btn btn-danger btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No pending invitations.</p>
    <% end %>
  </div>
  <div class="mt-3">
    <h2>Availability</h2>
    <%= link_to 'Add new availability', new_availability_path, class: "btn btn-primary" %>

    <% if @availabilities.any? %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @availabilities.each do |availability| %>
            <tr>
              <td><%= availability.start_time.to_date %></td>
              <td><%= availability.end_time.to_date if availability.end_time %></td>
              <td>
                <%= link_to "Edit", edit_availability_path(availability), class: "btn btn-warning btn-sm" %>
                <%= link_to 'Delete', availability_path(availability), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-danger btn-sm" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p>No availabilities set</p>
    <% end %>
  </div>
</div>


